<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sanuphap.scienceweeks" >

    <!-- user for QR -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- user for Beacon -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher"
        android:theme="@style/AppTheme" >
        <service
            android:name="com.kontakt.sdk.android.manager.BeaconService"
            android:exported="false" />
        <service
            android:name="com.kontakt.sdk.android.manager.BeaconServiceL"
            android:exported="false" />
        <service
            android:name="com.kontakt.sdk.android.manager.ActionService"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="locked" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".uiScanner.ScannerActivity"
            android:label="@string/title_activity_scanner_code"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sanuphap.scienceweeks.MainActivity" />
        </activity>
        <activity
            android:name=".uiQuestion.QuestionActivity"
            android:label="@string/title_activity_questions"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sanuphap.scienceweeks.MainActivity" />
        </activity>
        <activity
            android:name=".uiBeacon.BeaconActivity"
            android:label="@string/title_activity_beacons"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sanuphap.scienceweeks.MainActivity" />
        </activity>
        <activity
            android:name=".appInfo.InfoActivity"
            android:label="@string/title_activity_info"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sanuphap.scienceweeks.MainActivity" />
        </activity>
        <activity
            android:name=".uiAbout.AboutmeActivity"
            android:label="@string/title_activity_aboutme"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sanuphap.scienceweeks.MainActivity" />
        </activity>
    </application>

</manifest>
